
.advantages {
  text-align: center;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  z-index: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    box-sizing: border-box;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.advantages__list {
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-left: 44px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
    margin: 59px auto;
    justify-content: center;
    max-width: 1200px;
  }
}

.advantages__item {
  @media (min-width: $desktop-width) {
    margin-right: 9px;
    margin-left: 9px;
    margin-top: -155px;
    padding-top: 35px;
    z-index: 200;
    background-color: #f2f2f2;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: -1px -32px 19px -29px rgba(40, 54, 69, 0.33);

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.advantages__header {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 22px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    width: 230px;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 5px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    display: block;
    width: 240px;
    padding-bottom: 10px;
  }
}

.advantages__picture-list {
  padding: 20px 0 10px 0;
  list-style: none;
  display: flex;

  @media (min-width: $desktop-width) {
    margin: auto;
    justify-content: space-around;
    padding: 10px 0 10px 0;
  }
}

.advantages__picture-item {
  margin: auto;

  @media (min-width: $desktop-width) {
    padding: 0 67px;
    margin: 0;

    &:last-child {
      padding-right: 55px;
    }

    &:first-child {
      padding-left: 55px;
    }
  }

  &--desktop-only {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.advantages__image {
  @media (min-width: $tablet-width) {
    margin-top: -83px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -100px;
  }
}
