$tablet-width: 660px;
$desktop-width: 1200px;

.advantages {
  text-align: center;
  padding-top: 53px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  z-index: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.advantages__tagline {

}

.advantages__list {
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
  }

}

.advantages__item {
  @media (min-width: $desktop-width) {
    padding-left: 34px;
    padding-right: 34px;
  }
}

.advantages__header {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.advantages__text {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 29px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__picture {
}

.advantages__picture-list {
  padding: 0;
  list-style: none;
  display: flex;

  @media (min-width: $desktop-width) {
    margin: auto;
  }
}

.advantages__picture-item {
  margin: auto;

  @media (min-width: $desktop-width) {
    padding: 0 67px;
    margin: 0;
  }

  &--desktop-only {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}



.advantages__image {

  @media (min-width: $desktop-width) {

  }

}
