$tablet-width: 660px;
$desktop-width: 1200px;

.catalog {

}

.catalog__banner {

}

.catalog__banner-img {
  width: 100%;
}

.catalog__image {
  width: 100%;
}

.catalog__banner-text {
  padding-left: 10px;
}

.catalog__banner-user {
  padding-left: 10px;
}

.catalog__banner-like {
  padding-left: 10px;
}

.catalog__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin: auto;
}

.catalog__list {
  list-style: none;
  padding: 0;
  background-color: #F2F2F2;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.catalog__item {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {

  }
}

.catalog__card {

}

.catalog__user {

}

.catalog__user-text {

}

.catalog__user-like {

}

.catalog__conclusion {

}

.catalog__conclusion-text {

}
