$tablet-width: 660px;
$desktop-width: 1200px;

.catalog-form {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 35px;
  padding-top: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    height: 400px;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin: auto;
  }
}

.catalog-form__input {
  width: 280px;
  height: 374px;
  z-index: -1;
  opacity: 0;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}

.catalog-form__column-left {
  background-image: url("../../img/catalog-form-bachground.jpg");
  width: 280px;
  height: 374px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}

.catalog-form__column-right {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.catalog-form__tools-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 55px;
  }
}

.catalog-form__tools {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    width: 275px;
    margin: 0;
    box-sizing: border-box;
  }
}

.catalog-form__item-wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 49px;
    border-bottom: 1px rgba(16%, 21%, 27%, 0.1) solid;
    display: flex;
    align-items: center;
    height: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    margin-left: 96px;
  }
}

.catalog-form__tools-item {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 12px;
  margin-left: 12px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }

  &--crop {
    background: url("../../img/crop.png") no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      background: url("../../img/crop-tablet.png") no-repeat;
      background-position: center;
    }
  }

  &--fill {
    background: url("../../img/fill.png") no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      background: url("../../img/fill-tablet.png") no-repeat;
      background-position: center;
    }
  }

  &--contrast {
    background: url("../../img/contrast.png") no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      background: url("../../img/contrast-tablet.png") no-repeat;
      background-position: center;
    }
  }
}

.catalog-form__range {

  &--general {
    width: 100%;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--crop {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      width: 100%;
    }
  }

  &--fill {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      width: 100%;
    }
  }

  &--contrast {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      width: 100%;
    }
  }
}

.catalog-form__range-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.catalog-form__button-wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px rgba(16%, 21%, 27%, 0.1) solid;
  padding-top: 38px;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 90px;
  }
}

.catalog-form__button {
  width: 280px;
  height: 55px;
  border: 3px solid #283645;
  color: #283645;
  opacity: 0.1;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  margin: 6px;

  @media (min-width: $tablet-width) {
    height: 55px;
    width: 260px;
    margin-left: 47px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    margin: 0 44px 0 0;
  }

  &--active {
    border: 3px solid #d22856;
    color: #d22856;
    opacity: 1;
  }
}
