.contact {
  text-align: center;
}

.contact__header {

}

.contact__text {

}

.contact__tel {
  font-size: 24px;
  color: #D22856;
}

.contact__mail {
  font-size: 24px;
  color: #D22856;
}

.contact__address {
  font-size: 24px;
  color: #D22856;
}
