
.developed {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-column: 2 / 3;
  grid-row: 3 / 4;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
}

.developed__text {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 15px;
  }
}

.developed__image {
  padding-left: 15px;
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}
