
.download-button {
  width: 280px;
  height: 55px;
  border: 3px #ffffff solid;
  border-radius: 29px;
  background-color: #1d2631;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.download-button__wrapper {
  background-color: #1d2631;
  padding: 28px 20px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    padding: 39px 20px 54px 20px;
  }
}
