
.emotion-form {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    border: 2px #e5e5e5 solid;
    padding: 47px 60px 50px 57px;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    max-height: 216px;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 5px;
  }
}

.emotion-form__label {
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: #ffffff;
    padding: 14px 25px;
    margin-top: -70px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.emotion-form__textarea {
  height: 200px;
  margin-top: 18px;
  border: 2px #e5e5e5 solid;
  border-radius: 2px;
  line-height: 30px;
  padding: 15px 20px 20px 20px;
  color: #283645;
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  &:hover {
    border: 2px #283645 solid;
    outline: 0;
  }

  &:active {
    border: 2px #d22856 solid;
    outline: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 23px;
    padding-right: 17px;
    height: 196px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
    padding-right: 14px;
    min-height: 126px;
  }
}
