
.emotion-form {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    border: 2px #E5E5E5 solid;
    padding: 47px 60px 53px 60px;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    max-height: 213px;
    box-sizing: border-box;
    margin-top: 69px;
  }
}

.emotion-form__label {
  color: #D22856;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  padding-right: 42px;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: #ffffff;
    padding: 14px 25px;
    margin-top: -70px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.emotion-form__textarea {
  height: 197px;
  margin-top: 22px;
  border: 2px #E5E5E5 solid;
  border-radius: 2px;
  padding: 20px;
  color: #283645;
  font-size: 18px;
  //font-family: "Open Sans", sans-serif;

  &:hover {
    border: 2px #283645 solid;
    outline: 0;
  }

  &:active {
    border: 2px #D22856 solid;
    outline: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}
