
.end-catalog-text {
  padding: 18px 20px 23px 20px;
  margin: auto;
  text-align: center;
  width: 300px;
  box-sizing: border-box;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    height: 194px;
    padding-top: 45px;
    padding-bottom: 78px;
    width: 600px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    min-height: 80px;
  }
}

.end-catalog-text__text {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
