
.end-text {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 29px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  height: 202px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 194px;
    padding-top: 73px;
    padding-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 75px;
  }
}

.end-text__text {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
