.form {
  margin: auto;
}

.form__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__asterisk {
  margin-top: 36px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
    margin-bottom: 30px;
  }
}

.form__asterisk-sign {
  color: #d22856;
}

.form__asterisk-text {
  font-size: 14px;
  color: #283645;

  &--optional {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}

.form__button {
  height: 65px;
  width: 278px;
  font-size: 18px;
  line-height: 18px;
  background-color: #2aab6d;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 23px 45px;
  border-radius: 2px;

  &--wider {
    @media (min-width: $desktop-width) {
      min-width: 456px;
    }
  }

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    width: 296px;
  }
}
