$tablet-width: 660px;
$desktop-width: 1200px;

.form-header {

}

.form-header__header {
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 102px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: auto;
  max-width: 350px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    min-width: 620px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
  }
}
