$tablet-width: 660px;
$desktop-width: 1200px;

.form-header {

}

.form-header__header {
  padding: 0;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  margin: auto;
  max-width: 350px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    min-width: 620px;
  }
  @media (min-width: $desktop-width) {
    width: 747px;

  }

}
