
.hit {
  position: relative;

  &::after {
    content: "Хит";
    position: absolute;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    transform: rotate(-45deg);
    top: -8px;
    left: 13px;

    @media (min-width: $tablet-width) and (max-width: 959px) {
      top: 0px;
      left: 7px;
    }
  }
}

.hit__image {
  position: absolute;
  top: -21px;
  left: -2px;

  @media (min-width: $tablet-width) and (max-width: 959px) {
    height: 61px;
    width: 61px;
    top: -11px;
  }
}

