
.logo__header-mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__header-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo__header-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo__footer-tablet {
  display: block;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo__footer-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;

    &:active {
      opacity: 0.3;
    }
  }
}
