
.logo {
  width: 74px;
  height: 100%;

  @media (min-width: $tablet-width) {
    height: 40px;
    width: 145px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
    height: 40px;
  }
}

.logo__header-mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__header-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo__header-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo__footer-tablet {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo__footer-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
