$desktop-width: 1200px;

.main-nav {
}

.main-nav__list {
  list-style: none;
  padding-left: 0;


  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 620px;
  }
}

.main-nav__item {
  display: block;
  height: 63px;
  border-bottom: 1px #000000 solid;
  text-align: center;
  background-color: #1d2631;

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.main-nav__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

}
