
.main-nav {
  position: relative;
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav__toggle {
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  margin: 25px;
  padding: 0;
  cursor: pointer;
  border: none;
  top: -70px;
  right: 0;
  background: url("../../img/close menu btn.png") no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: -95px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--close .main-nav__toggle {
  background: url("../../img/open menu btn.png") no-repeat;
  background-position: center;
  width: 50px;
  height: 24px;
  margin: 21px 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    top: -95px;
    right: 0;
  }
}

.main-nav__list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 620px;
  }
}

.main-nav--close .main-nav__list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav__item {
  display: block;
  height: 63px;
  border-bottom: 1px #000000 solid;
  text-align: center;
  background-color: #1d2631;
  box-sizing: border-box;

  &:first-child {
    border-top: 1px #000000 solid;

    @media (min-width: $desktop-width) {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.main-nav__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 63px;

  @media (min-width: $desktop-width) {
    text-transform: none;
    font-size: 18px;
  }
}
