
.map {
  display: block;
  background-position: center;
  min-height: 200px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 374px;
  }

  @media (min-width: $desktop-width) {
    min-height: 502px;
  }
}

.map__image {
  width: 100%;
}
