
.name-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  order: 1;
  display: block;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    height: 297px;
    margin-top: 0;
    box-sizing: border-box;
  }
}

.name-form__list {
  list-style: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 297px;
    margin: 0;
    width: 431px;
    padding-top: 27px;
    box-sizing: border-box;
  }
}

.name-form__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 55px;

    &:last-child {
      padding-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 58px;
  }
}

.name-form__label {
  color: #d22856;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 23px;
  padding-bottom: 5px;
  padding-top: 20px;
  line-height: 30px;


  @media (min-width: $tablet-width) {
    padding: 0 20px 0 0;
  }
}

.name-form__input {
  height: 59px;
  font-size: 18px;
  padding: 23px 20px;
  box-sizing: border-box;
  border: 2px #e5e5e5 solid;

  &:hover,
  &:focus {
    border: 2px #283645 solid;
    outline: 0;
  }

  &:active {
    border: 2px #d22856 solid;
    outline: 0;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
