

.offers {
  background-color: #f2f2f2;
  overflow: hidden;
  padding-top: 82px;

  @media (min-width: $tablet-width) {
    padding-bottom: 73px;
    padding-top: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 100px;
  }
}

.offers__table {
  margin: auto;
  border-collapse: collapse;
  transform: translateX(-255px);

  @media (min-width: $tablet-width) {
    transform: none;
  }
}

.offers__table-tr {
  margin: 0;
}

.offers__table-th {
  background-color: #283645;
  height: 95px;
  border-right: 2px #ffffff solid;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) and (max-width: 959px) {
    height: 75px;
  }
}

.offers__table-td {
  border: 2px #e5e5e5 solid;
  min-width: 276px;
  height: 59px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    min-width: 152px;
    height: 45px;
  }

  @media (min-width: $desktop-width) {
    min-width: 234px;
    height: 60px;
  }

  &--right-column {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      box-sizing: border-box;
    }
  }

  &--right-column p {
    @media (min-width: $tablet-width) {
      text-transform: none;
      font-size: 14px;
      line-height: 45px;
      color: #283645;
      padding: 0 15px;
    }

    @media (min-width: $desktop-width) {
      font-size: 19px;
      line-height: 60px;
    }
  }
}

.offers__price {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}


.offers__text {
  text-transform: uppercase;
  margin: 0;

  &--title {
    color: #ffffff;
    font-size: 16px;

    @media (min-width: $desktop-width) {
      font-size: 18px;
    }
  }

  &--description {
    font-size: 14px;
    padding: 20px 20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
