$tablet-width: 660px;

.reviews {

}

.reviews__slider {
  list-style: none;
  padding: 0;
}

.reviews__item {
  display: block;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

}

.reviews__name {

}

.reviews__text {

}
