
.reviews {
  text-align: center;
  padding: 25px 20px 35px 20px;
  background-color: #ffffff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -75px;
  z-index: 100;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    padding-top: 0;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    padding-bottom: 0;
  }
}

.reviews__slider {
  list-style: none;
  padding: 0;
}

.reviews__item {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-top: 38px;
    margin-top: 135px;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      width: 79px;
      height: 63px;
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='79' height='63' viewBox='0 0 79 63' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M35.1468 6.97257L30.8388 0C28.3886 1.48142 0 12.0588 0 39.1293C0 46.2698 0.341426 63 18.9793 63C30.2162 63 32.9778 52.8473 32.9778 49.5783C32.9778 27.8508 11.5081 35.5838 11.5081 35.5838C11.5081 17.7771 31.3911 9.06631 35.1468 6.97257Z' fill='%23EFEFEF'/%3e%3cpath d='M79 6.97257L74.7322 0C72.302 1.48142 43.8833 12.0588 43.8833 39.1293C43.8833 46.2698 44.2247 63 62.8726 63C74.0995 63 76.8611 52.8473 76.8611 49.5783C76.8611 27.8508 55.3914 35.5838 55.3914 35.5838C55.3914 17.7771 75.3146 9.06631 79 6.97257Z' fill='%23EFEFEF'/%3e%3c/svg%3e") no-repeat;
      position: absolute;
      top: -58px;
      right: 46%;
    }
  }
}

.reviews__age {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin: auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    padding-bottom: 5px;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  position: relative;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 104px;
    padding-left: 104px;
    margin-top: 15px;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      border-bottom: 2px rgba(40, 54, 69, 0.3) solid;
      border-left: 2px rgba(40, 54, 69, 0.3) solid;
      transform: rotate(45deg);
      position: absolute;
      top: 40%;
      right: 99%;
    }
  }

  &:hover::before {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      border-bottom: 2px rgba(40, 54, 69, 0.6) solid;
      border-left: 2px rgba(40, 54, 69, 0.6) solid;
      transform: rotate(45deg);
      position: absolute;
      top: 40%;
      right: 99%;
    }
  }

  &:active::before {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      border-bottom: 2px rgba(40, 54, 69, 0.1) solid;
      border-left: 2px rgba(40, 54, 69, 0.1) solid;
      transform: rotate(45deg);
      position: absolute;
      top: 40%;
      right: 99%;
    }
  }

  &::after {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      border-bottom: 2px rgba(40, 54, 69, 0.3) solid;
      border-right: 2px rgba(40, 54, 69, 0.3) solid;
      transform: rotate(-45deg);
      position: absolute;
      top: 40%;
      left: 99%;
    }
  }

  &:hover::after {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      border-bottom: 2px rgba(40, 54, 69, 0.6) solid;
      border-right: 2px rgba(40, 54, 69, 0.6) solid;
      transform: rotate(-45deg);
      position: absolute;
      top: 40%;
      left: 99%;
    }
  }

  &:active::after {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      border-bottom: 2px rgba(40, 54, 69, 0.1) solid;
      border-right: 2px rgba(40, 54, 69, 0.1) solid;
      transform: rotate(-45deg);
      position: absolute;
      top: 40%;
      left: 99%;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
