.social-button {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.social-button__item {
  border: 3px rgba(16%, 21%, 27%, 0.1) solid;
  border-radius: 50%;
  margin: 7px;
}

.social-button__link {
  display: block;
  width: 48px;
  height: 48px;


  &--twitter {
    background: url("../../img/twitter.png") no-repeat;
    background-position: center;
  }

  &--facebook {
    background: url("../../img/facebook.png") no-repeat;
    background-position: center;
  }

  &--youtube {
    background: url("../../img/youtube.png") no-repeat;
    background-position: center;
  }

}
