
.tagline {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    padding-bottom: 60px;
  }
}

.tagline__text {
  font-size: 24px;
  font-weight: 200;
  line-height: 120%;
  margin: 0;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 210px;
    padding-right: 210px;
    font-size: 50px;
  }
}
