$tablet-width: 660px;
$desktop-width: 1200px;

.wrapper__main {
  max-width: 1200px;
  margin: auto;
}

.wrapper__download-block {
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 729px;
    width: 100%;
    background: url("../../img/background-tablet.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media (min-width: $desktop-width) {
    background: url("../../img/back-desktop.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 853px;
    width: 100%;
  }
}

.wrapper__download-header {
  height: 462px;
  background: url("../../img/background-mobile.png") no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    background: none;
    height: auto;
  }
}


.wrapper__column-left {
  @media (min-width: $tablet-width) {
    width: 300px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.wrapper__developed {

}

.wrapper__contact {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.wrapper__tel {

}

.wrapper__mail {

}

.wrapper__address {

}

.wrapper__form {
  max-width: 1200px;

  @media (min-width: $tablet-width) {
    padding-left: 22px;
    padding-right: 22px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 132px;
    padding-right: 132px;
  }
}


.wrapper__form-header {
  height: 462px;
  background: url("../../img/back-mobile.png") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    background: url("../../img/back-tablet.png") no-repeat;
    height: 729px;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    background: url("../../img/back-desktop-form.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.wrapper__form-flex {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.wrapper__form-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

