
.wrapper__main {
  //max-width: 960px;
  margin: auto;
}

.wrapper__download-block {
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 729px;
    width: 100%;
    background: url("../../img/background-tablet.jpg") no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background: url("../../img/background-tablet@2x.jpg") no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../../img/back-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 853px;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background: url("../../img/back-desktop@2x.jpg") no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.wrapper__download-header {
  height: 462px;
  background: url("../../img/background-mobile.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background: url("../../img/background-mobile@2x.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    background: none;
    height: auto;
  }
}


.wrapper__column-left {
  @media (min-width: $tablet-width) {
    width: 300px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
  }
}

.wrapper__developed {
  padding-top: 53px;
  padding-bottom: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper__contact {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.wrapper__tel {
  padding-top: 35px;
}

.wrapper__mail {
  padding-top: 35px;
}

.wrapper__address {
  padding-top: 35px;
}

.wrapper__form {
  max-width: 1200px;
  display: block;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-left: 22px;
    padding-right: 22px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 936px;
    margin-top: 75px;
  }
}


.wrapper__header {
  height: 462px;
  background: url("../../img/back-mobile.png") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    background: url("../../img/back-tablet.png") no-repeat;
    height: 729px;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    background: url("../../img/back-desktop-form.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.wrapper__form-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-top: 69px;
    padding: 0;
  }
}

.wrapper__banner {
  padding-right: 20px;
  padding-left: 20px;
}

.wrapper__user-text {
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 155px;
    padding: 25px 30px;
  }
}

.wrapper__banner-text {
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 25px 20px;

  @media (min-width: $desktop-width) {
    margin: auto;
    width: 940px;
  }
}

.wrapper__hours-24 {
  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    padding: 0;
  }
}

.wrapper__hours-24-text {
  padding-left: 72px;
}

.wrapper__like-column {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper__banner-column {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

