.social-button {
  list-style: none;
  display: flex;
}

.social-button__item {

}

.social-button__link {
  display: block;
  width: 48px;
  height: 48px;

  &--twitter {
    background: url("../img/twitter.png") no-repeat;
  }

  &--facebook {
    background: url("../img/facebook.png") no-repeat;
  }

  &--youtube {
    background: url("../img/youtube.png") no-repeat;
  }

}
